html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: inherit;
}

header {
  background-color: lightgray;
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
}

#box {
  margin-left: 1%;
  height: 60%;
  width: 5%;
}

main {
  background-color: white;
  height: 30vh;
}

/* article {
  font-size: 1.5vw;
  height: 100%;
  font-family: sans-serif;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}  */

p {
  height: 100%;
  width: 100%;
  padding: 0 5%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* word-break: break-all; */
}

.blue {
  background-color: rgb(82, 104, 204);
  height: 15vh;
}
.teal {
  background-color: rgb(49, 180, 174);
  height: 15vh;
}
.green {
  background-color: yellowgreen;
  height: 15vh;
}
.yellow {
  background-color: yellow;
  height: 15vh;
}
